* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drop-down {
  position: relative;
  top: 4rem;
  opacity: 0;
  width: 12rem;
  height: 70px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  transition: all 0.6s ease;
}

.drop-down-open {
  position: relative;
  top: 4rem;
  opacity: 1;
  width: 12rem;
  height: 70px;
  margin-top: 0.5rem;
  margin-right: 1em;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  border-radius: 0.375rem;
}

.icon {
  display: block;
  margin-left: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  transition: all 1s ease;
  color: rgba(110, 231, 183, 1);
}

.icon-flip {
  transform: rotate(-90deg);
}

.dark {
  /*background-color: #2c2f33;*/
  background-color: rgba(17, 24, 39, 1);
  color: rgba(243, 244, 246, 1);
}

.non-active {
  display: none;
}

.active {
  display: block;
  border-left: solid 5px #00c8c8;
}

.right-nav {
  background: #0f1519;
  border-left: 1px solid #252c32;
  overflow-y: auto;
}

.list {
  border-bottom: 1px solid #252c32;
}

.main-dark {
  background: #0a0e13;
}

.green {
  color: #00c8c8;
}

.box {
  height: 500px;
  width: 1200px;
}

.home {
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}
